:root {

    --main-color: rgb(1, 36, 186);

    --accent-color: rgb(9, 216, 98);

    --text-color: rgb(53, 53, 53);

}
body {
    background-image: url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    box-sizing: border-box;
}
h1, a {
    color: var(--main-color);
}
p, form, nav ul li a{
    color: var(--text-color);
}
.header-logo, span, h1, h2 {
    font-weight: 700;
}
header, .container, ul, main, form, .intro__info__icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    height: 80px;
}
.container {
    justify-content: space-between;
    width: 1100px;
}
ul {
    list-style-type: none;
}
li {
    margin-left: 40px;
}
a {
    text-decoration: none;
}
.header-logo {
    font-size: 2.5rem;
}
main {
    height: 100vh;
}
span {
    font-size: 1.5rem;
    color: var(--accent-color);
}
h1 {
    font-size: 4rem;
}
.intro__info{
    width: 60%;
}
.intro__info__icons {
    justify-content: flex-start;
    margin-top: 60px;
}
.intro__info__icons p {
    margin-right: 40px;
    font-size: 1rem;
    font-weight: 600;
}
.first-icon:before, .second-icon:before, .third-icon:before {
    display: block;
    content: "\f0c2";
    font-family: "Font Awesome 5 Free";
    font-size: 2rem;
    font-weight: bold;
    color: var(--accent-color);
}
.second-icon:before{
    content: "\f3d1";
}
.third-icon:before{
    content: "\f2f2";
}
form {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    width: 40%;
}
h2 {
    font-size: 2rem;
}